body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(193, 113, 16);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: rgb(193,113,16);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
  }